#submitLocation{
    display: none;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%);
}

#mapInstuctions {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

#accuracy {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    font-size: 7pt;
}